.testimonials::before,
.testimonials::after {
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 120%;
  content: "";
  z-index: 2;
}

.testimonials::before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #000);
}

.testimonials::after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #000);
}

.testimonials-slide {
  animation: 25s slide infinite linear;
}

.testimonials:hover .testimonials-slide {
  animation-play-state: paused;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 600px) {
  .testimonials::before,
  .testimonials::after {
    width: 20px;
  }
}
