@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --moonstone-blue: #01CABD;
    --light-gray: #C6C6C6;
    --dark-blue: rgb(79 70 229);
    --dark-gray: #a8a6a6;

    --primary-text: white;
    --secondary-text: var(--light-gray);
    --highlighted-text: var(--moonstone-blue);
    --active-link: var(--dark-blue);
}

/* ---------------- GRADIENTS -------------- */


.linear-purple-green-gradient {
    background: linear-gradient(90deg, #5235C5, rgba(22, 105, 99, 1));
}

.linear-purple-gradient {
    background: linear-gradient(90deg, #5235C5, #645DE5);
}

.radial-shiny-gray-gradient {
    background: radial-gradient(circle, #384B59, #2C2C2C);
}