@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --moonstone-blue: #01cabd;
  --light-gray: #c6c6c6;
  --dark-blue: rgb(79 70 229);
  --dark-gray: #a8a6a6;
  --shadow-color: rgba(22, 105, 99, 1);
  --black-olive: #2a2828;

  --primary-text: white;
  --secondary-text: var(--light-gray);
  --highlighted-text: var(--moonstone-blue);
  --active-link: var(--dark-blue);
  --bg-color: black;
  --profile-section-bg-color: var(--black-olive);
  --contrast-bg-color: rgb(248, 245, 245);
}

/* ---------------- GRADIENTS -------------- */

.linear-purple-green-gradient {
  background: linear-gradient(90deg, #5235c5, rgba(22, 105, 99, 1));
}

.linear-purple-gradient {
  background: linear-gradient(90deg, #5235c5, #645de5);
}

.radial-shiny-gray-gradient {
  background: radial-gradient(circle, #384b59, #2c2c2c);
}

.white-gradient {
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.text-gradient {
  background-image: linear-gradient(
    43deg,
    #415bd0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  background-clip: text;
  color: transparent;
}

.white-box-shadow {
  box-shadow: 0 15px 25px rgba(255, 255, 255, 0.2);
}

.upper-white-box-shadow {
  box-shadow: 0px -15px 25px rgba(255, 255, 255, 0.3);
}

.moonstone-gradient-border {
  border-image: linear-gradient(
    45deg,
    white,
    var(--moonstone-blue),
    var(--moonstone-blue),
    cyan
  );
  border-image-slice: 1;
}

/* MUI bottom nav selected element color change */

.css-1juv2mg-MuiButtonBase-root-MuiBottomNavigationAction-root.Mui-selected {
  color: #85e7d9 !important;
}
