.clip-hexagon {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.gradient-bg {
    background: linear-gradient(135deg, rgba(0,0,0,0.15), rgba(255,255,255,0.25));
}

.banner-box-shadow {
    box-shadow: 0 5px 25px rgba(255, 255, 255, 0.2), 0 5px 25px rgba(255, 255, 255, 0.2), 0 15px 70px rgba(255, 255, 255, 0.2);
  }